:root {
  --main-color: #505050;
  --accent-color:#a6d3c8;
}

body {
  font-family:   "Meiryo","MS PGothic", Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: var(--main-color);
}

a {
  transition: opacity 0.3s;
  text-decoration: none;
  color:#1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 テキスト選択時の背景色
---------------------------------*/
::selection {
  background-color : var(--accent-color);
}

/* Firefox */
::-moz-selection {
  background-color : var(--accent-color);
}

/*--------------------------------
スクロールバー
---------------------------------*/
::-webkit-scrollbar
{
  width:7px;
  background:#eee;
}

::-webkit-scrollbar-thumb
{
  background:var(--main-color);
  border-radius: 3.5px;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.section {
  padding: 90px 0;
  overflow: hidden;
}

.section:nth-of-type(even) {
  background-color: #f7f7f7;
}

/*--------------------------------
フェードイン
---------------------------------*/
.fadeIn_up {
  animation: fadeIn_up 2s;
  opacity: 1;
}

@keyframes fadeIn_up {
  0% {
    opacity: 0;
    transform: translateY(200px);
    transition-duration:.7s;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    transition-duration:.7s;
  }
}

.fadeIn_left {
  animation: fadeIn_left 2s;
  opacity: 1;
}

@keyframes fadeIn_left {
  0% {
    opacity: 0;
    transform: translateX(-200px);
    transition-duration:.7s;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    transition-duration:.7s;
  }
}

.fadeIn_right {
  animation: fadeIn_right 2s;
  opacity: 1;
}

@keyframes fadeIn_right {
  0% {
    opacity: 0;
    transform: translateX(200px);
    transition-duration:.7s;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    transition-duration:.7s;
  }
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url("@/assets/img/main.jpg");
  background-position: right top;
  background-size: cover;
  color:#fff;
}

.mv-container {
  padding: 0 40px;
}

.mv-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
  letter-spacing: 0.1em;
  animation: fadeIn_up 2s;
}
.mv-subtitle {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: 0.08em;
  animation: fadeIn_up 2s;
}

/*--------------------------------
 About
---------------------------------*/
.profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}
.profile-img {
  width: 25%;
  margin-right: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.profile-img img {
  border-radius: 50%;
}
.profile-body {
  flex: 1;
}

.profile-body p {
  font-size: 16px;
  line-height: 1.8;
}

.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}

/*--------------------------------
 Works
---------------------------------*/
.works .title{
  text-align:left;
}

.works-list {
  margin-bottom: 40px;
}

.works-item {
  margin-bottom: 40px;
}

.works-img img {
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.1);
}

.works-name {
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  text-align: center;
}

.work-hover {
  position: relative;
}
.work-hover figure {
  overflow: hidden;
  border-radius: 10px;
}
.work-hover figure img {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.work-hover figure figcaption {
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  color: #fff;
  border: solid 1px #fff;
  border-radius: 10px;
  padding: 5px;
}
.work-hover figure figcaption .hover-text {
  position: relative;
  width: 100%;
  height: 100%;
}
.work-hover figure figcaption .hover-text > p {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.work-hover:hover figure img {
  filter: brightness(35%);
  transform: scale(1.2);
}
.work-hover:hover figure figcaption {
  opacity: 1;
}
/*--------------------------------
 Skill
---------------------------------*/
.skill .title{
  text-align:left;
}

.skill-list {
  margin-bottom: -40px;
}

.skill-item {
  padding: 10px 26px 30px;
  margin-bottom: 40px;
  height:90%;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.1);
}

.skill-img {
  display: flex;
  align-items: center;
  height: 100px;
  margin-right: 20px;
}

.skill-img li{
  position: relative;
}

.skill-img img{
  width:60px;
  margin-right: 10px;
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 10px;
}

.skill-text {
  font-size: 15px;
  line-height: 1.8;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact {
  text-align: center;
}

.contact img {
  width: 40px;
}

.contact-item:not(:last-child) {
  margin-right: 20px;
}

.contact-text {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.contact-list{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .section {
    padding: 60px 0;
  }

  .container {
    padding: 0 20px;
  }

  /*  メインビジュアル */
  .mv-container {
    padding: 0 20px;
  }

  .mv-title {
    font-size: 30px;
  }
  .mv-subtitle {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .mv-text {
    font-size: 14px;
    line-height: 1.7;
  }

  /* Works */
  .works-name {
    font-size: 12px;
  }

  .works-info {
    margin-top: 3px;
  }

  .works-item {
    margin-bottom: 30px;
  }

  /* Skill */
  .skill-item {
    margin-bottom: 30px;
  }

  .skill-name {
    margin-bottom: 5px;
  }

  .skill-text {
    font-size: 13px;
    line-height: 1.7;
  }

  /* About */
  .profile {
    display: block;
  }
  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p {
    font-size: 14px;
    line-height: 1.7;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }

}